@font-face {
	font-family: Almendra;
	src:url(Fonts/Almendra-Regular.otf);
	font-family: Jacquard;
	src:url(Fonts/Jacquard12-Regular.ttf);
}

body{
	background-image: url(./Images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	margin: 0%;
}

header{
	text-align: center;
}

 /* Navbar container */
 .navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	font-family: Jacquard;
  }
  
  /* Links inside the navbar */
  .navbar a {
	font-size: 2em;
	color: fuchsia;
	background-color: green;
	text-align: center;
	padding: 15px;
	text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 2em;
	border: none;
	outline: none;
	color: fuchsia;
	padding: 15px;
	background-color: green;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: darkgreen;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: green;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: fuchsia;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: darkgreen;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  } 

.cursor {
    cursor: url("Images/cursor.png");
}

/*journal stuff*/

* {
	box-sizing: border-box;
  }
    
  /* Header/Blog Title */
  .header {
	font-family: Jacquard;
	color: antiquewhite;
	text-shadow: 5px 5px black;
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: rgb(39, 39, 39);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
	font-family: Almendra;
	color: antiquewhite;
	background-color: rgba(39, 39, 39, 0.904);
	padding: 20px;
	margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	padding: 20px;
	font-family: Almendra;
	color: antiquewhite;
	text-align: center;
	background: rgb(39, 39, 39);
	margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
	  width: 100%;
	  padding: 0;
	}
  }